section {
  width: 1200px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: space-between;
  gap: 3em;
  background-color: black;
  padding: 2em;
  margin-bottom: 5em;
  border: 1px solid chartreuse;
  border-radius: 1em;
}

h1 {
  padding-bottom: .75em;
}

.App {
  background-color: #282c34;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5em;
}

.App-link {
  color: #61dafb;
}

.array {
  display: flex;
  flex-direction: row;
}

.arr {
  margin-right: 2em;
}

.showArr {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.hideMe {
  visibility: hidden;
}

.lineItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: .5em;
}

ul {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}

.firstList {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.listSection {
  width: 960px;
  background-color: #282c34;
  border: none;
  padding: 3.5em;
  border-radius: .25em;
}

.arrShort {
  margin-right: 1.5em;
}

.arrayShort {
  width: 100%;
}

.showArr2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.5em;
}

.sectionOverride {
  padding: 3em;
}

.chartSection {

  height: 550px;

}

.chartGraphic {
  height: 500px;
  width: 100%;
}

.katex {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.katexLi {
  display: flex;
  flex: row;
}

.katexOl {
  display: flex;
  flex: row;

}

.strong {
  font-weight: 600;
}

.slant {
  font-style: italic;
}

.answers {
  word-wrap: normal;
  line-height: 1.75em;
}

InlineMath {
  display: inline;
}

.part {
  font-size: 2em;
}

.titleBlock {
  width: 1200px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #282c34;
  border: none;
  padding: 0;
  height: 20px;
}

.trueOrFalse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 24px;
  padding-right: 24px;
  width: 100%;
}

.same {
  display: flex;
  flex-direction: row;
}